html{
    color: #0A1045;
    text-align: center;
    font-family: sans-serif;
    background-color: #F0DCCA;
}

input{

    text-align: center;

}
form{
    position: relative;
    top: 20px;
}

#input-edad{
    width: 100px;

}

#label-edad{
    position: relative;
    right: 25px;
}

#label-campotexto{
    position: relative;
    top: 15px;

}